PORT=5000
MONGO_URI=MONGO_URI=mongodb+srv://siddharthadas620_db_user:iDWOplabE223TpuA@cluster0.iofkaji.mongodb.net/peblo-ai-notes?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=siddhartha_super_secret_jwt_key_2026
GEMINI_API_KEY=AIzaSyBeflHehlW27KyowasfeUcWQiaPKVAu8EQ